.logo{
    cursor: pointer;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #001122;
    text-transform: uppercase;
    color: #ffffff;
}